.form {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  margin-top: 36px;
}
.input {
  font-weight: 400;
  font-size: 16px;
  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #808080;
  padding: 8px;
  height: 40px;
  width: 272px;
  border-radius: 4px;
  border: 1px solid #808080;
}

.input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #808080;
}

.input:hover {
  background: #fff;
}

.input:active,
.input:active {
  border: 1px solid #4e75ff;
}

button {
  font-family: 'Montserrat', sans-serif;
  border-radius: 8px;
  padding: 8px 16px;
  min-width: 91px;
  background: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

button:hover {
  background: #6c8cff;
}

a {
  width: 360px;
}
img {
  height: 200px;
  width: 360px;
}

.loader {
  display: none;
  text-align: center;
}

.loader.visible {
  display: block;
}

.gallery {
  margin-top: 32px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  gap: 24px;
  padding: 20px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.gallery_item {
  display: flex;
  justify-content: center;
}

.gallery_image {
  height: 250px;
}

.info {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid #808080;
  border-left: 1px solid #808080;
  border-right: 1px solid #808080;
  width: 360px;
  height: 48px;
  background-color: #fff;
  gap: 20px;
}

.info-item {
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #2e2f42;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.load-more {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;

  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;

  border-radius: 8px;
  padding: 8px 16px;
  width: 125px;
  height: 40px;
  background: #4e75ff;

  margin: 32px auto 44px auto;
}
